{namespace events=GeorgRinger\Eventnews\ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />

<f:section name="content">
	<div class="row">
		<div class="col-md-2">
			<h3>
				<f:translate key="filter" />
			</h3>
			<f:form method="post" action="month" object="{search}" name="search" arguments="{overwriteDemand:overwriteDemand}">
				<input type="hidden" name="id" value="{currentPageId}" />

				<h4>
					<f:translate key="organizers" extensionName="eventnews" />
				</h4>
				<ul style="list-style: none">
					<events:filter.organizer organizers="{allOrganizers}" news="{news}" as="filteredOrganizers">
						<f:for each="{filteredOrganizers}" as="organizer">
							<li>
								<label>
									<f:form.checkbox property="organizers.{organizer.uid}" value="{organizer.uid}" />
									{organizer.title} </label>
							</li>
						</f:for>
					</events:filter.organizer>
				</ul>
				<h4>
					<f:translate key="locations" extensionName="eventnews" />
				</h4>
				<ul style="list-style: none">
					<events:filter.location locations="{allLocations}" news="{news}" as="filteredEvents">
						<f:for each="{filteredEvents}" as="location">
							<li>
								<label>
									<f:form.checkbox property="locations.{location.uid}" value="{location.uid}" />
									{location.title} </label>
							</li>
						</f:for>
					</events:filter.location>
				</ul>
				<h4>
					<f:translate key="categories" extensionName="eventnews" />
				</h4>
				<ul style="list-style: none">
					<f:for each="{allCategories}" as="category">
						<li>
							<label>
								<f:form.checkbox property="categories.{category.uid}" value="{category.uid}" />
								{category.title} </label>
						</li>
					</f:for>
				</ul>
                <h4>
                    <f:translate key="tags"/>
                </h4>
                <ul style="list-style: none">
                    <f:for each="{allTags}" as="tag">
                        <li>
                            <label>
                                <f:form.checkbox property="tags.{tag.uid}" value="{tag.uid}" />
                                {tag.title} </label>
                        </li>
                    </f:for>
                </ul>

				<div class="form-group">
					<label for="searchDateFrom">
						<f:translate key="searchDateFrom" extensionName="eventnews" />
					</label>
					<f:form.textfield property="searchDateFrom" id="searchDateFrom" type="date" />
				</div>
				<div class="form-group">
					<label for="searchDateTo">
						<f:translate key="searchDateTo" extensionName="eventnews" />
					</label>
					<f:form.textfield property="searchDateTo" id="searchDateTo" type="date" />
				</div>

				<f:form.submit value="{f:translate(key:'filter_submit',extensionName:'eventnews')}" class="btn btn-default" />
			</f:form>

		</div>
		<div class="col-md-7">
			<h2>
				<f:translate key="calendar" extensionName="eventnews" />
			</h2>
			<events:calendar newsList="{newsWithNoDaySupport}" demand="{demand}" firstDayOfWeek="1">
				<table class="table">
					<tr class="title">
						<th colspan="7">
							<ul class="pager">
								<li class="previous">
									<f:link.page rel="nofollow" pageUid="{currentPageId}" additionalParams="{tx_news_pi1:{overwriteDemand:{month:previousMonthData.month,year:previousMonthData.year}}}">
										&larr; {f:format.date(date:previousMonthData.date,format:'%B %Y')}
									</f:link.page>
								</li>
								<li>{f:format.date(date:currentMonthData.date,format:'%B %Y')}</li>
								<li class="next">
									<f:link.page rel="nofollow" pageUid="{currentPageId}" additionalParams="{tx_news_pi1:{overwriteDemand:{month:nextMonthData.month,year:nextMonthData.year}}}">
										{f:format.date(date:nextMonthData.date,format:'%B %Y')} &rarr;
									</f:link.page>
								</li>
							</ul>
						</th>
					</tr>
					<tr class="days">
						<f:for each="{weeks.0}" as="day">
							<th>
								{f:format.date(date: day.ts, format: '%a')}
							</th>
						</f:for>
					</tr>
					<f:for each="{weeks}" as="week">
						<tr>
							<f:for each="{week}" as="day">
								<f:render section="calday" arguments="{day:day, settings:settings}" />
							</f:for>
						</tr>
					</f:for>
				</table>
			</events:calendar>
		</div>
		<div class="col-md-3">
			<h2>
				<f:translate key="list" extensionName="eventnews" />
			</h2>
			<div class="row">
				<f:for each="{news}" as="n">
					<f:if condition="{overwriteDemand.day}">
						<f:then>
                            <f:if condition="{events:dayCompare(newsItem:n,demand:demand)}">
                                <f:render section="listItem" arguments="{_all}" />
							</f:if>
						</f:then>
						<f:else>
							<f:render section="listItem" arguments="{_all}" />
						</f:else>
					</f:if>

				</f:for>
			</div>
		</div>
	</div>
</f:section>

<f:section name="listItem">
	<div class="col-md-12" style="border: 1px solid #ccc;">
		<strong>
			<n:link newsItem="{n}" settings="{settings}">{n.title}</n:link>
			| {f:format.date(date:n.datetime.date,format:'%d.%m')}</strong>
		<ul>
			<f:if condition="{n.organizer}">
				<li><strong>
					<f:translate key="organizer" extensionName="eventnews" />
				</strong>: {n.organizer.title}
					<small>(uid: {n.organizer.uid})</small>
				</li>
			</f:if>
			<f:if condition="{n.location}">
				<li><strong>
					<f:translate key="location" extensionName="eventnews" />
				</strong>: {n.location.title}
					<small>(uid: {n.location.uid})</small>
				</li>
			</f:if>
			<f:if condition="{n.eventEnd}">
				<li>
					<strong>
						<f:translate key="event_end" extensionName="eventnews" />
					</strong>: {f:format.date(date:n.eventEnd.date,format:'%d.%m.%Y')}
				</li>
			</f:if>
		</ul>
	</div>
</f:section>

<f:section name="calday">
	<td class="day{f:format.date(date: day.ts, format: 'N')} {f:if(condition: day.curmonth, then: 'curmonth', else: 'othermonth')}{f:if(condition: day.news, then: ' hasevents')}{f:if(condition: day.curday, then: ' today')}">
		<f:if condition="{day.dayBelongsToCurrentMonth}">
			<f:if condition="{day.news}">
				<f:then>
					<strong>
						<f:link.action action="month" addQueryString="1" additionalParams="{tx_news_pi1:{overwriteDemand:{year:day.year,month:day.month,day:day.day}}}">{day.day}</f:link.action>
					</strong>

					<f:for each="{day.news}" as="newsItem">
						<div style="border: 1px solid #ccc;margin:2px;padding:2px">
							{newsItem.title}
						</div>
					</f:for>

				</f:then>
				<f:else>
					{day.day}
				</f:else>
			</f:if>
		</f:if>
	</td>
</f:section>
